@model Expeditor_Form.Models.CRUD

@{
    ViewData["Title"] = "Vendor";
}

<h1>Vendor</h1>

<h4>Vendor</h4>
<hr />
<body>
      
          @Html.DropDownList("VendorList","Select Vendor ..")

</body>