@{
    var getAllVendorsList = Url.Action("GetAllVendors", "CRUD");
    var getAllPurchaseOrders = Url.Action("PurchaseOrder", "CRUD");
}
<head>
  <script src="~/js/ExpeditorForm.js" asp-append-version="true"></script>
</head>

<div id="mainData" 
    data-get-all-vendors-list ="@getAllVendorsList"
    data-get-all-purchase-orders = "@getAllPurchaseOrders" 
    data="hello"></div>


@using (Html.BeginForm("SaveProgress", "CRUD", FormMethod.Post, new {@id ="formCurrentProgress"}))
{
    <div class="form-group">
        <label for="vendor"> Select Vendor </label>
        <input class="form-control" name="vendor" id="vendor">
    </div>

    <div class="form-group">
        <label for="POs"> Select Purchase Order </label>
        <input class="form-control" name="PO" id="PO">
    </div>  
}

<script>
    $(document).ready(function() {
        window.ExpeditorData.onDocumentReady();
    });
</script>
